<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 footer-info">
                    <h3>About Us</h3>
                    <p>
                        Our AC repair and service company is one of the most reputable. Our experts service all
                        brands of air conditioners at an affordable rate.
                        Our company is supported by a group of specialists. For any repair needs, we are your best
                        option. We love providing service and assistance at your doorstep, and we never compromise
                        on quality.
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#hero">Home</a></li>
                        <li><a href="#about">About us</a></li>
                        <li><a href="#services">Services</a></li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4 class="text-primary">Contact Us</h4>
                    <p>
                        coolcare office, Palladium mall <br> S G highway <br> ahmedabad
                        <strong>Phone:</strong> +91 6352600352<br>
                        <strong>Email:</strong> coolcare@gmail.com<br>
                    </p>

                    <div class="social-links">
                        <a href="#" id="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" id="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" id="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" id="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter" style="display: none;">
                    <h4>Our Newsletter</h4>
                    <p>
                        Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam
                        illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase
                        seza.
                    </p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>CoolCare</strong>. All Rights Reserved
        </div>
        <div class="credits">

            Designed by <a href="#">CoolCare</a>
        </div>
    </div>
</footer>
