@{
    ViewBag.Title = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="clearfix">

    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-md-8 mt-5">
                <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
                    <h2>
                        We Provide<br><span>AC Repair & Service</span>
                        <br< /h2>
                        <div class="mt-4">
                            <a href="#" class="btn-get-started scrollto">Book Now</a>
                            <a href="#" class="btn-services scrollto">Our Services</a>
                        </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <!-- <img src="assets/img/bg.jpg"  alt=""> -->
                <img src="~/Content/CoolCare/assets/img/Logo.PNG" width="165%" alt="">
                
            </div>
        </div>



    </div>

</section>
<!-- End Hero Section -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="section-bg">
        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h3>Services</h3>
                <p>
                    We are a team of specialists. We are your best and nearest option for fixing. Execution is our
                    favorite, and we assist you right at your doorstep with trust as our top priority.
                </p>
            </header>

            <div class="row justify-content-center">

                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box" style="padding: 18px;">
                        <img src="~/Content/CoolCare/assets/img/acrepair.jpg" class="img-box" style="width: 100%;">
                        <h4 class="title"
                            style="display: flex; justify-content: center;  margin: 15px; font-size: 28px;">
                            <a href="/Home/BookService">AC Repair</a>
                        </h4>
                        <p class="description" style="margin: 0;">
                            Ensures minor and major AC repair issues are
                            handled.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box" style="padding: 18px;">
                        <img src="~/Content/CoolCare/assets/img/acservicing.jpg" style="width: 100%;">
                        <h4 class="title"
                            style="display: flex; justify-content: center;  margin: 15px; font-size: 28px;">
                            <a href="/Home/BookService">AC Servicing</a>
                        </h4>
                        <p class="description" style="margin: 0;">
                            All AC problems, minor and major, are accurately
                            diagnosed and resolved.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box" style="padding: 18px;">
                        <img src="~/Content/CoolCare/assets/img/acinstallation.jpg" style="width: 100%;">
                        <h4 class="title"
                            style="display: flex; justify-content: center;  margin: 15px; font-size: 28px;">
                            <a href="/Home/BookService">AC Installation</a>
                        </h4>
                        <p class="description" style="margin: 0;">
                            Handles minor and major AC installation issues
                            professionally
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box" style="padding: 18px;">
                        <img src="~/Content/CoolCare/assets/img/acgas.jpg" style="width: 100%;">
                        <h4 class="title"
                            style="display: flex; justify-content: center;  margin: 15px; font-size: 28px;">
                            <a href="/Home/BookService">AC Gas Filling</a>
                        </h4>
                        <p class="description" style="margin: 0;">
                            We provide AC gas filling service at affordable
                            prices.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box" style="padding: 18px;">
                        <img src="~/Content/CoolCare/assets/img/accooling.jpg" style="width: 100%;">
                        <h4 class="title"
                            style="display: flex; justify-content: center;  margin: 15px; font-size: 28px;">
                            <a href="/Home/BookService">AC Cooling Issue</a>
                        </h4>
                        <p class="description" style="margin: 0;">
                            Many AC face cooling issues very soon after
                            installation but we fix the issue quickly
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box" style="padding: 18px;">
                        <img src="~/Content/CoolCare/assets/img/acamc.jpg" style="width: 100%;">
                        <h4 class="title"
                            style="display: flex; justify-content: center;  margin: 15px; font-size: 28px;">
                            <a href="/Home/BookService">AC AMC</a>
                        </h4>
                        <p class="description" style="margin: 0;">
                            We also provide AMC contracts and our prices are
                            the best.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Services Section -->
    <!-- ======= About Section ======= -->
    <section id="about">
        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h3>About Us</h3>
                <p>
                    Our AC repair and service company is one of the most reputable. All brands of air conditioners
                    are serviced by our experts at an affordable rate.
                </p>
            </header>

            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <p>
                        Our company is supported by a group of specialists. For any fix you need, we're your closest
                        choice. We love executing and helping you at your doorstep, and we never compromise on
                        quality.
                    </p>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bi bi-card-checklist"></i></div>
                        <h4 class="title"><a href="">Maintain a Check-List</a></h4>
                        <p class="description">We maintain every AC repair service checklist for our customers</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bi bi-brightness-high"></i></div>
                        <h4 class="title"><a href="">On-Time AC Service</a></h4>
                        <p class="description">Our team will be at your door as you contact us</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300" style="display: none;">
                        <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                        <h4 class="title"><a href="">Dolor Sitema</a></h4>
                        <p class="description">
                            Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat tarad limino ata
                        </p>
                    </div>

                </div>

                <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
                    <img src="~/Content/CoolCare/assets/img/acabout.jpg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="row about-extra">
                <div class="col-lg-6" data-aos="fade-right">
                    <img src="~/Content/CoolCare/assets/img/acabout2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
                    <h4>AC Service/Repair/Installation.</h4>
                    <p>
                        Our team of performance enthusiasts specialize in managing and installing AC fixing systems.
                        We are committed to providing clear and reliable assistance and will support you every step
                        of the way.
                    </p>
                    <p>
                        Our company specializes in air conditioner services, providing high-quality maintenance,
                        repair, and installation solutions to customers. We understand the importance of air
                        conditioning in everyday life and strive to ensure that our customers receive the best
                        service possible. Our team of experts is highly skilled and experienced in handling all
                        types of air conditioning systems, whether for residential or commercial purposes. In
                        addition, we offer annual maintenance contracts to our clients, ensuring that their systems
                        are regularly checked and maintained for optimal performance. Our commitment to excellent
                        customer service and our reputation for being trustworthy has earned us a loyal customer
                        base who rely on us for all their air conditioning needs. Choose us for amazing service that
                        you can trust.
                    </p>
                </div>
            </div>


        </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <h3>Why choose us?</h3>
                <p>
                    We are the most trusted choice when it comes to quick, speedy, simple, machine repair and support
                    at home.
                </p>
            </header>

            <div class="row row-eq-height justify-content-center">

                <div class="col-lg-4 mb-4">
                    <div class="card" data-aos="zoom-in" data-aos-delay="100">
                        <img src="~/Content/CoolCare/assets/img/acicon1.png" style="width: 28%;margin: auto;">

                        <div class="card-body">
                            <h5 class="card-title">Budget-friendly AC Repair Service from Experts</h5>
                            <p class="card-text">
                                We offer affordable air conditioning repair services
                                handled by experienced experts. We use the latest tools and techniques to ensure
                                timely and efficient service, and pride ourselves on providing quality repairs at
                                competitive rates.
                            </p>
                            <a href="#" class="readmore">Read more </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-4">
                    <div class="card" data-aos="zoom-in" data-aos-delay="200">
                        <img src="~/Content/CoolCare/assets/img/acicon2.png" style="width: 28%;margin: auto;">
                        <div class="card-body">
                            <h5 class="card-title">We Listen to Your Repair Requests</h5>
                            <p class="card-text">
                                For any AC issues, remember to contact us for fast and reliable
                                service. We're here to keep you cool and comfortable.
                            </p>
                            <a href="#" class="readmore">Read more </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-4">
                    <div class="card" data-aos="zoom-in" data-aos-delay="300">
                        <img src="~/Content/CoolCare/assets/img/acicon3.png" style="width: 22%;margin: auto;">
                        <div class="card-body">
                            <h5 class="card-title">AC Support 24x7 to assist you in the hour of need</h5>
                            <p class="card-text">
                                We provide exceptional customer service, which is why we offer 24/7
                                support to all customers who have signed up for our annual maintenance contract. Our
                                team is always available to listen to any concerns or queries you may have, and we
                                prioritize quick and effective solutions to keep your air conditioning system
                                running smoothly. Trust us for round-the-clock support and peace of mind
                            </p>
                            <a href="#" class="readmore">Read more </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row counters" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Years of superior service</p>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="8400" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Total Customers</p>
                </div>


                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="8200" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Happy Customers</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Skilful Technicians</p>
                </div>

            </div>

        </div>
    </section>
    <!-- End Why Us Section -->
    <!-- ======= Testimonials Section ======= -->
    <!--<section id="testimonials" class="section-bg">
        <div class="container" data-aso="zoom-in">

            <header class="section-header">
                <h3>Testimonials</h3>
            </header>

            <div class="row justify-content-center">
                <div class="col-lg-8">

                    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <img src="~/Content/CoolCare/assets/img/acrepa1.jpg" class="testimonial-img" alt="">
                                    <h3>anita tyagi</h3>

                                    <p>
                                        Great service provider, Quality service on time they did my work
                                        professionally, Nice work
                                    </p>
                                </div>
                            </div>-->
                            <!-- End testimonial item -->

                            <!--<div class="swiper-slide">
                                <div class="testimonial-item">
                                    <img src="~/Content/CoolCare/assets/img/acre2.jpg" class="testimonial-img" alt="">
                                    <h3>ajay gupta</h3>

                                    <p>
                                        Unbelievable work quality, The AC repair guy was too cool and professional
                                        they did their work very well
                                    </p>
                                </div>
                            </div>-->
                            <!-- End testimonial item -->

                            <!--<div class="swiper-slide">
                                <div class="testimonial-item">
                                    <img src="~/Content/CoolCare/assets/img/acre3.jpg" class="testimonial-img" alt="">
                                    <h3>suraj ahuja</h3>

                                    <p>
                                        Great job from Ac Repairing service, They did installation my ac very easily
                                        on the minimum time taken, that's great
                                    </p>
                                </div>
                            </div>-->
                            <!-- End testimonial item -->

                            <!--<div class="swiper-slide">
                                <div class="testimonial-item">
                                    <img src="~/Content/CoolCare/assets/img/acrepa4.jpg" class="testimonial-img" alt="">
                                    <h3>Somnath Singh</h3>
                                    i am extremely satisfied with your ac service and the staff hope you keep up
                                    <p>

                                    </p>
                                </div>
                            </div>-->
                            <!-- End testimonial item -->

                            <!--<div class="swiper-slide">
                                <div class="testimonial-item">
                                    <img src="~/Content/CoolCare/assets/img/acrepa5.jpg" class="testimonial-img" alt="">
                                    <h3>Vicky</h3>

                                    <p>
                                        I am happy to your service thank u so much
                                    </p>
                                </div>
                            </div>-->
                            <!-- End testimonial item -->

                        <!--</div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>
            </div>

        </div>
    </section>-->
    <!-- End Testimonials Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact">
        <div class="container-fluid" data-aos="fade-up">

            <div class="section-header2 mb-5">
                <h3>Contact Us</h3>
            </div>

            <div class="row">

                <div class="col-lg-6" style="display: none;">
                    <div class="map mb-4 mb-lg-0">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                                frameborder="0" style="border:0; width: 100%; height: 340px;" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-lg-8" style="margin: auto;">
                    <div class="row">
                        <div class="locationIcon col-md-5 info">
                            <i class="loc bi bi-geo-alt"></i>
                            <p class="iconText text-white ms-2">
                                Coolcare office, Palladium mall , S G highway
                                ahmedabad
                            </p>
                        </div>
                        <div class="mailIcon col-md-4 info">
                            <i class="mail bi bi-envelope"></i>
                            <p class="iconText text-white ms-2">coolcare@gmail.com</p>
                        </div>
                        <div class="phoneIcon col-md-3 info">
                            <i class="phone bi bi-phone"></i>
                            <p class="iconText text-white ms-2">+91-9157224422</p>
                        </div>
                    </div>

                    <div class="form">
                        <form action="" method="POST" id="formValidation" enctype="multipart/form-data"
                              class="php-email-form">

                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input type="text" name="name" class="form-control" id="name"
                                           placeholder="Your Name" required>
                                </div>
                                <div class="form-group col-lg-6 mt-3 mt-lg-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                       placeholder="Phone Number" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                          required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center mt-5">
                                <button type="submit" title="Send Message" class="sendMessage"
                                        name="submit_subadmin">
                                    Send
                                    Message
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Contact Section -->

</main>
<!-- End #main -->
